{% extends "index.html" %}
{% block title %}Contact Us{% endblock %}

{% block head %}
<link rel="stylesheet" href="../static/css/contact.css" />
{% endblock %}

{% block content %}
<header>
  <h1>Get in Touch with VirtuPort</h1>
  <p>We’re here to answer your questions and help you get started on your
    educational journey</p>
</header>
<main>
  <section>
    <h2>Contact Information</h2>
    <p class="contact-info"><strong>Address:</strong> 1st Floor, Elphinstone
      Technical High School, Metro Chowk, Mumbai, Maharashtra, India</p>
    <p class="contact-info"><strong>Phone:</strong> +91 22 1234 5678</p>
    <p class="contact-info"><strong>Email:</strong> <a
        href="mailto:info@VirtuPort.ac.in">info@virtuport.ac.in</a></p>
    <p class="contact-info"><strong>Website:</strong> <a
        href="https://VirtuPort.ac.in" target="_blank"
        rel="noopener">VirtuPort.ac.in</a></p>
  </section>
  <section>
    <h2>Send Us a Message</h2>
    <form action="#" method="post" aria-label="Contact Form">
      <label for="name">Name:</label><br />
      <input id="name" name="name" type="text" required aria-required="true"
        style="width: 100%; padding: 10px; margin-bottom: 20px; border-radius: 8px; border: 1px solid var(--primary-light);" /><br />
      <label for="email">Email:</label><br />
      <input id="email" name="email" type="email" required
        aria-required="true"
        style="width: 100%; padding: 10px; margin-bottom: 20px; border-radius: 8px; border: 1px solid var(--primary-light);" /><br />
      <label for="message">Message:</label><br />
      <textarea id="message" name="message" rows="6" required
        aria-required="true"
        style="width: 100%; padding: 12px; margin-bottom: 30px; border-radius: 8px; border: 1px solid var(--primary-light);"></textarea><br />
      <button type="submit">Send Message</button>
    </form>
  </section>
</main>
{% endblock %}
